


header {
	margin: 50px 137px 42px ;
}


h1 {
	display: inline-block;
	margin-right: 35px;
	vertical-align: middle;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.girl {
	vertical-align: middle;
}

.h1 {
	color: #000;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 137px;
	margin-bottom: 27px;
}

.container {
	width: 1110px;

	margin: 0 auto;
}

.relative {
	position: relative;
	width: 362px;
	height: 357px;
	background-color: #F1F1F1;
}

.absolute {
	color: #FFF;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: absolute;
	top: 32px;
	left: 41px;
}


.absolute2 p {
	color: #8A8787;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 250px;
	margin-top: 68px;
	margin-left: 37px;

}


.clock {
	margin-top: 15px;
	margin-left: 40px;
}

.absolute2 h3 {
	color: #8A8787;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 40px;
	display: inline-block;
}