


header {
	margin: 50px 137px 42px ;
	position: fixed;
	z-index: 100;
	top: 0;
}


h1 {
	display: inline-block;
	margin-right: 35px;
	vertical-align: middle;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.girl {
	vertical-align: middle;
}

.h1 {
	color: #000;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 137px;
	margin-bottom: 27px;
	margin-top: 120px;
}

.container {
	width: 1300px;

	margin: 0 auto;
}

.relative {
	position: relative;
	width: 362px;
	height: 357px;
	background-color: #F1F1F1;
	margin-left: 130px;

}

.absolute {
	color: #FFF;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: absolute;
	top: 32px;
	left: 41px;
}


.absolute2 p {
	color: #8A8787;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 250px;
	margin-top: 68px;
	margin-left: 37px;

}


.clock {
	margin-top: 15px;
	margin-left: 40px;
}

.absolute2 h3 {
	color: #8A8787;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 40px;
	display: inline-block;
}




.relative2 {
	position: relative;
	width: 362px;
	height: 357px;
	background-color: #F1F1F1;
	margin-left: 520px;
	margin-top: -358px;
}


.relative3 {
	position: relative;
	width: 362px;
	height: 357px;
	background-color: #F1F1F1;
	margin-left: 910px;
	margin-top: -358px;
}


.my-h4 {
	color: #000;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin-left: 137px;
	margin-top: 57px;
}

/*aq davamtavre pirveli seqcia*/


.container1 {
	width: 1300px;

	margin: 0 auto;
}


.s-1 {
	margin-top: 30px;
}


.wrapper {
	display: inline-block;
	position: relative;
}


h5 {
	color: #FFF;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.forest {
	margin-left: 900px;
	margin-top: -430px;
	vertical-align: top;
}

.city {
	margin-left: 110px;
	vertical-align:top ;
}